<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/media/style.css">
</head>
<body>
    <header class="blog_header">
        <div class="blog_logo">
          <a href="./index.html">
            <img src="/media/images/Toyota.png" alt="blog">
          </a>
        </div>
    
        <nav class="blog_nav">
          <ul class="blog_main_menu">
            <li><a href="index.html">blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav> 
    </header>  
    <form class="kontakt">
        <div class="kontakt_lorem">
            <div class="lorem_text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum rerum corrupti, earum soluta vel repellat 
                    voluptates quaerat quia dolorem.
                </p>
            </div>
            <div class="need_help">
                <p>Need help?</p>
                <p class="strong"><strong>@ekkrit.design</strong></p>
            </div>
            <div class="telking">
                <p>Feel like telking</p>
                <p class="strong"><strong>+66 8546 13501</strong></p>
            </div>
            <div class="fa_brands">
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            
        </div>
        <div class="text_input">
            <input class="input1" type="text" name="name" placeholder="name" size="100px" required><br>
            <input class="input2" type="text" name="mail" placeholder="email" size="100px" required><br>
            <input class="input3" type="text" name="text" placeholder="text" size="100px" required><br>
            <p class="save"><input type="submit" value="Send over"></p>
        </div>
    <footer>
            <div class="copyright">
              <span>blog &copy; 2022</span>
            </div>
    </footer> 
  </body>
  </html>